<div>
    <h1>Mytex Online</h1>
    <h3>Enter code here</h3>
    <div class="app" style="margin-top: 10px">
        <div class="row">
            <div class="col">
                <pre id="editor"></pre>
            </div>
            <div class="col">
                <button class="btn btn-success">Execute</button>
                <br />
                <span id="state"></span>
                <div class="download"></div>
            </div>
            <div class="col">
                <iframe id="answer" src="" scrolling="auto"></iframe>
            </div>
        </div>
    </div>
    <div class="footer">Created by <b>Group 1</b></div>
</div>